data/raw*
**/raw*
src/*/
!src/analysis/
!src/custom-filters/
!src/assets/
src/analysis/quantitative/*/
src/**/*.html
src/**/*.rmarkdown
src/**/*.docx
.claude/
result/src/
result/result/
history/
figure/


/.quarto/
.env
